<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<head>
    <meta charset="UTF-8" />
    <title>List of Vets</title>
</head>

<body>
    <h1 th:text="'List of Vets'">List of Vets...</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">First Name</th>
                <th style="width: 150px;">Last Name</th>
                <th style="width: 150px;">Specialties</th>
                <th style="width: 150px;">Image</th>
                <th style="width: 150px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.id}">1</td>
                <td th:text="${vet.firstName}">Joe</td>
                <td th:text="${vet.lastName}">Buck</td>
                <td><span th:each="specialty: ${vet.specialties}" th:text="${specialty.description+' '}" />
                    <span th:if="${vet?.specialties?.size == 0}">none</span>

                </td>
                <td>
                    <img src="/resources/images/platform-bg.png" th:if="${vet != null && vet.image != null}"
                        th:src="@{'/images/' + ${vet.image.id + '/show'}}" width="50">
                    <a href="#" th:if="${vet == null || vet.image == null}" th:href="@{'/images/add/vets/'+${vet.id}}"
                        role="button">Select new
                        Image</a>
                    <a href="#" th:if="${vet != null && vet.image != null}"
                        th:href="@{'/images/'+${vet.image.id}+'/update/vets/'+${vet.id}}" role="button">Change
                        Image</a>

                </td>

                <td><a href="#" th:href="@{'/vets/' + ${vet.id} + '/show'}">View</a>
                    <a href="#" th:href="@{'/vets/' + ${vet.id} + '/update'}">Update</a>
                    <a href="#" th:href="@{'/vets/' + ${vet.id} + '/delete'}">Delete</a>
                </td>
            </tr>
            <a href="#" th:href="@{'/vets/add'}">Add</a>
        </tbody>
    </table>

</body>

</html>